<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.mall.mybatis.mapper.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="boot.mall.mybatis.model.ShoppingCart">
    <id column="idx" jdbcType="INTEGER" property="idx" />
    <result column="user_idx" jdbcType="INTEGER" property="userIdx" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="product_idx" jdbcType="INTEGER" property="productIdx" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="product_num" jdbcType="INTEGER" property="productNum" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="parent_idx" jdbcType="INTEGER" property="parentIdx" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    idx, user_idx, add_time, product_idx, product_name, product_price, product_num, product_type, 
    parent_idx
  </sql>
  <select id="selectByExample" parameterType="boot.mall.mybatis.model.ShoppingCartExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from rsd_shopping_cart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rsd_shopping_cart
    where idx = #{idx,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rsd_shopping_cart
    where idx = #{idx,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="boot.mall.mybatis.model.ShoppingCartExample">
    delete from rsd_shopping_cart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="boot.mall.mybatis.model.ShoppingCart">
    insert into rsd_shopping_cart (idx, user_idx, add_time, 
      product_idx, product_name, product_price, 
      product_num, product_type, parent_idx
      )
    values (#{idx,jdbcType=INTEGER}, #{userIdx,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{productIdx,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, 
      #{productNum,jdbcType=INTEGER}, #{productType,jdbcType=INTEGER}, #{parentIdx,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="boot.mall.mybatis.model.ShoppingCart">
    insert into rsd_shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        idx,
      </if>
      <if test="userIdx != null">
        user_idx,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="productIdx != null">
        product_idx,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productNum != null">
        product_num,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="parentIdx != null">
        parent_idx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        #{idx,jdbcType=INTEGER},
      </if>
      <if test="userIdx != null">
        #{userIdx,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productIdx != null">
        #{productIdx,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productNum != null">
        #{productNum,jdbcType=INTEGER},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="parentIdx != null">
        #{parentIdx,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="boot.mall.mybatis.model.ShoppingCartExample" resultType="java.lang.Integer">
    select count(*) from rsd_shopping_cart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rsd_shopping_cart
    <set>
      <if test="record.idx != null">
        idx = #{record.idx,jdbcType=INTEGER},
      </if>
      <if test="record.userIdx != null">
        user_idx = #{record.userIdx,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productIdx != null">
        product_idx = #{record.productIdx,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productPrice != null">
        product_price = #{record.productPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.productNum != null">
        product_num = #{record.productNum,jdbcType=INTEGER},
      </if>
      <if test="record.productType != null">
        product_type = #{record.productType,jdbcType=INTEGER},
      </if>
      <if test="record.parentIdx != null">
        parent_idx = #{record.parentIdx,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rsd_shopping_cart
    set idx = #{record.idx,jdbcType=INTEGER},
      user_idx = #{record.userIdx,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      product_idx = #{record.productIdx,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      product_price = #{record.productPrice,jdbcType=DECIMAL},
      product_num = #{record.productNum,jdbcType=INTEGER},
      product_type = #{record.productType,jdbcType=INTEGER},
      parent_idx = #{record.parentIdx,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="boot.mall.mybatis.model.ShoppingCart">
    update rsd_shopping_cart
    <set>
      <if test="userIdx != null">
        user_idx = #{userIdx,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productIdx != null">
        product_idx = #{productIdx,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productNum != null">
        product_num = #{productNum,jdbcType=INTEGER},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=INTEGER},
      </if>
      <if test="parentIdx != null">
        parent_idx = #{parentIdx,jdbcType=INTEGER},
      </if>
    </set>
    where idx = #{idx,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="boot.mall.mybatis.model.ShoppingCart">
    update rsd_shopping_cart
    set user_idx = #{userIdx,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      product_idx = #{productIdx,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_num = #{productNum,jdbcType=INTEGER},
      product_type = #{productType,jdbcType=INTEGER},
      parent_idx = #{parentIdx,jdbcType=INTEGER}
    where idx = #{idx,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="boot.mall.mybatis.model.ShoppingCartExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from rsd_shopping_cart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>