<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.mall.mybatis.mapper.V_IndexProductMapper">
  <resultMap id="BaseResultMap" type="boot.mall.mybatis.model.V_IndexProduct">
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="view_order" jdbcType="INTEGER" property="viewOrder" />
    <result column="show_image" jdbcType="VARCHAR" property="showImage" />
    <result column="idx" jdbcType="INTEGER" property="idx" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="shop_idx" jdbcType="INTEGER" property="shopIdx" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="discount_price" jdbcType="DECIMAL" property="discountPrice" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="show_icon" jdbcType="VARCHAR" property="showIcon" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    type, is_show, view_order, show_image, idx, product_name, icon, shop_idx, market_price, 
    discount_price, price, inventory, create_date, last_update_date, product_type, show_icon, 
    stock
  </sql>
  <select id="selectByExample" parameterType="boot.mall.mybatis.model.V_IndexProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from rsd_v_index_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="boot.mall.mybatis.model.V_IndexProductExample">
    delete from rsd_v_index_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="boot.mall.mybatis.model.V_IndexProduct">
    insert into rsd_v_index_product (type, is_show, view_order, 
      show_image, idx, product_name, 
      icon, shop_idx, market_price, 
      discount_price, price, inventory, 
      create_date, last_update_date, product_type, 
      show_icon, stock)
    values (#{type,jdbcType=INTEGER}, #{isShow,jdbcType=INTEGER}, #{viewOrder,jdbcType=INTEGER}, 
      #{showImage,jdbcType=VARCHAR}, #{idx,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{shopIdx,jdbcType=INTEGER}, #{marketPrice,jdbcType=DECIMAL}, 
      #{discountPrice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{inventory,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{productType,jdbcType=INTEGER}, 
      #{showIcon,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="boot.mall.mybatis.model.V_IndexProduct">
    insert into rsd_v_index_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        type,
      </if>
      <if test="isShow != null">
        is_show,
      </if>
      <if test="viewOrder != null">
        view_order,
      </if>
      <if test="showImage != null">
        show_image,
      </if>
      <if test="idx != null">
        idx,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="shopIdx != null">
        shop_idx,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="discountPrice != null">
        discount_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="inventory != null">
        inventory,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="showIcon != null">
        show_icon,
      </if>
      <if test="stock != null">
        stock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isShow != null">
        #{isShow,jdbcType=INTEGER},
      </if>
      <if test="viewOrder != null">
        #{viewOrder,jdbcType=INTEGER},
      </if>
      <if test="showImage != null">
        #{showImage,jdbcType=VARCHAR},
      </if>
      <if test="idx != null">
        #{idx,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="shopIdx != null">
        #{shopIdx,jdbcType=INTEGER},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="inventory != null">
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="showIcon != null">
        #{showIcon,jdbcType=VARCHAR},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="boot.mall.mybatis.model.V_IndexProductExample" resultType="java.lang.Integer">
    select count(*) from rsd_v_index_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rsd_v_index_product
    <set>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.isShow != null">
        is_show = #{record.isShow,jdbcType=INTEGER},
      </if>
      <if test="record.viewOrder != null">
        view_order = #{record.viewOrder,jdbcType=INTEGER},
      </if>
      <if test="record.showImage != null">
        show_image = #{record.showImage,jdbcType=VARCHAR},
      </if>
      <if test="record.idx != null">
        idx = #{record.idx,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.shopIdx != null">
        shop_idx = #{record.shopIdx,jdbcType=INTEGER},
      </if>
      <if test="record.marketPrice != null">
        market_price = #{record.marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.discountPrice != null">
        discount_price = #{record.discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.inventory != null">
        inventory = #{record.inventory,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateDate != null">
        last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productType != null">
        product_type = #{record.productType,jdbcType=INTEGER},
      </if>
      <if test="record.showIcon != null">
        show_icon = #{record.showIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.stock != null">
        stock = #{record.stock,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rsd_v_index_product
    set type = #{record.type,jdbcType=INTEGER},
      is_show = #{record.isShow,jdbcType=INTEGER},
      view_order = #{record.viewOrder,jdbcType=INTEGER},
      show_image = #{record.showImage,jdbcType=VARCHAR},
      idx = #{record.idx,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      shop_idx = #{record.shopIdx,jdbcType=INTEGER},
      market_price = #{record.marketPrice,jdbcType=DECIMAL},
      discount_price = #{record.discountPrice,jdbcType=DECIMAL},
      price = #{record.price,jdbcType=DECIMAL},
      inventory = #{record.inventory,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      product_type = #{record.productType,jdbcType=INTEGER},
      show_icon = #{record.showIcon,jdbcType=VARCHAR},
      stock = #{record.stock,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="boot.mall.mybatis.model.V_IndexProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from rsd_v_index_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>